
 body {
    background-image: url(./media/dark-clouds-with-sun_1272857-121585.avif);
    background-size: cover;
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    color: wheat;
    font-family: 'Arial', sans-serif;
}

.weather-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 25px;
    max-width: 400px;
    width: 100%;
}

h1, h3, p {
    /* text-align: center; */
}

input {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 98%;
    margin-bottom: 10px;
}

button {
    background-color: rgb(144, 28, 28);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: darkred;
    border-radius: 50px;
}


#myScreen {
    margin-top: 20px;
}
